@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@-webkit-keyframes slingshot {
  0% {
    -webkit-transform: rotate(0deg);
  }

  20%, 30% {
    -webkit-transform: rotate(-45deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes slingshot {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  20%, 30% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.open > .dropdown-menu {
  animation-name: slidenavAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-name: slidenavAnimation;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: slidenavAnimation;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}

* {
  word-wrap: break-word;
  outline: none !important;
}

body {
  font-family: "Open Sans";
  font-size: 14px;
}

a {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.section-title {
  font-size: 36px;
  color: #141414;
  text-align: center;
  letter-spacing: 5px;
}

.user-form {
  padding: 20px 20px 15px 20px;
  background-color: #eeeeee;
}

.user-form .form-control {
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #828282;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  border: 0px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  vertical-align: middle;
  border: 1px solid transparent;
  line-height: 30px;
}

.user-form .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.user-form select.form-control {
  height: auto;
  line-height: 1;
  width: auto;
  background-color: white;
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  background-position: -webkit-calc(100% - 8px) center;
  background-position: calc(100% - 8px) center;
}

.user-form input[type="submit"] {
  padding: 13px 15px;
  width: 100%;
  max-width: 265px;
  letter-spacing: 2.5px;
}

.user-form label,
.user-form label a {
  color: #828282;
  font-size: 17px;
  font-weight: 400;
  padding-right: 10px;
}

.user-form label a:hover {
  text-decoration: underline;
}

.user-form .form-group {
  margin-bottom: 20px;
}

.user-form .sex-group {
  font-size: 0;

}

.user-form .sex-group * {
  font-size: 16px;
}

.user-form .sex-group label {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  float: left;
  margin-top: 17px;
}

.user-form .sex-group select {
  width: 75%;
  display: inline-block;
  padding-right: 38px;
}

.user-form .date-group {
  width: 100%;
  padding: 0;
  font-size: 0;
}

.user-form .date-group * {
  font-size: 16px;
}

.user-form .date-group label {
  width: 25%;
  vertical-align: middle;
  float: left;
  margin-top: 17px;
}

.user-form .date-group .select-wrap {
  width: 25%;
  display: inline-block;
  float: left;
}

.user-form .date-group .select-wrap select {
  width: 100%;
  padding-left: 9px;
  padding-right: 25px;
}

.user-form input,
.user-form select {
  letter-spacing: 1px;
  /* Firefox 19+ */
  /* Firefox 18- */
}

.user-form input::-webkit-input-placeholder,
.user-form select::-webkit-input-placeholder {
  letter-spacing: 1px;
}

.user-form input::-moz-placeholder,
.user-form select::-moz-placeholder {
  letter-spacing: 1px;
}

.user-form input:-moz-placeholder,
.user-form select:-moz-placeholder {
  letter-spacing: 1px;
}

.user-form input:-ms-input-placeholder,
.user-form select:-ms-input-placeholder {
  letter-spacing: 1px;
}

.sign-form input[type="checkbox"] {
  position: relative;
  z-index: 12;
  opacity: 0;
  top: 6px;
  width: 20px;
  left: 20px;
  height: 20px;
}

.sign-form input[type="checkbox"] + label {
  position: relative;
  margin: 0 15px 10px 0;
  padding-left: 35px;
}

.sign-form input[type="checkbox"] + label:after,
.sign-form input[type="checkbox"] + label:before {
  content: "";
  display: block;
  position: absolute;
}

.sign-form input[type="checkbox"] + label:before {
  top: 9px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  left: 0;
  height: 20px;
  border: 1px solid #cfcfcf;
  background-color: #ffffff;
}

.sign-form input[type="checkbox"] + label:after {
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 14px;
  height: 7px;
  border: 3px solid #7ab317;
  border-top: 0 solid transparent;
  border-right: 4px solid transparent;
  left: 4px;
  top: 4px;
  -webkit-transform: rotateZ(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotateZ(0deg) scale(0);
}

.sign-form input[type="checkbox"]:checked + label::after {
  -webkit-transform: rotateZ(-50deg) scale(1);
  -ms-transform: rotate(-50deg) scale(1);
  transform: rotateZ(-50deg) scale(1);
}

.input-error {
  border: 1px solid red !important;
}

.input-error + label:before {
  border: 1px solid red !important;
}

header {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#db333f), to(#ff4855));
  background-image: -webkit-linear-gradient(bottom, #db333f 0%, #ff4855 100%);
  background-image: linear-gradient(to top, #db333f 0%, #ff4855 100%);
  padding: 8px 0 5px;
  position: relative;
}

header .container > div > div {
  position: static;
}

header div[class^=col-] {
  padding-right: 15px;
  padding-left: 15px;
}

header .row {
  margin-right: -15px;
  margin-left: -15px;
}

.logo {
  margin: 0;
}

.logo a {
  display: block;
}

.logo img {
  max-width: 154px;
}

.menu-toggle {
  color: white;
  display: block;
  text-align: right;
  font-size: 20px;
  padding: 15px;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: white;
}

.main-menu {
  text-align: right;
  margin-top: 6px;
}

.main-menu li {
  display: inline-block;
}

.main-menu li a {
  color: #f9f9f9;
  display: inline-block;
  padding: 10px 25px;
  font-size: 18px;
  letter-spacing: 1px;
}

.main-menu li a:hover {
  color: #f9f9f9;
  text-decoration: underline;
}

.main-menu li a.login-link {
  text-transform: uppercase;
  border: 2px solid #f9f9f9;
  padding: 10px 10px;
  width: auto;
  min-width: 157px;
  text-align: center;
  font-size: 16px;
  margin-left: 30px;
}

.main-menu li a.login-link.cabinet {
  text-transform: none;
}

.main-menu li a.login-link:hover {
  background: #f9f9f9;
  color: #fb4653;
  text-decoration: none;
}

footer .top {
  padding: 40px 0 10px;
  background-color: #2b2b2b;
  text-align: center;
}

footer .top .soc-link {
  margin-bottom: 45px;
}

footer .top .soc-link li {
  display: inline-block;
  margin: 0 20px;
}

footer .top .soc-link li img:hover {
  -webkit-animation: slingshot 0.8s alternate infinite ease-in-out;
  animation: slingshot 0.8s alternate infinite ease-in-out;
}

footer .top .subscribe {
  margin-bottom: 78px;
}

footer .top .subscribe p {
  margin-bottom: 38px;
  letter-spacing: 1.6px;
  color: #fb4653;
  text-transform: uppercase;
  font-size: 18px;
}

footer .top .subscribe a {
  display: inline-block;
  padding: 14px 40px;
  border: 2px solid #fd4754;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 22px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #fb4653;
}

footer .top .subscribe a:visited {
  color: #fb4653;
  text-decoration: none;
}

footer .top .subscribe a:hover,
footer .top .subscribe a:focus {
  color: #2b2b2b;
  text-decoration: none;
}

footer .top .subscribe a:hover:before,
footer .top .subscribe a:active:before,
footer .top .subscribe a:focus:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

footer .top .subscribe a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fb4653;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

footer .top .footer-menu li {
  display: inline-block;
}

footer .top .footer-menu li a {
  display: inline-block;
  padding: 7px 25px;
  text-transform: uppercase;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.31);
  color: #ababab;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

footer .top .footer-menu li a:hover {
  color: #fb4653;
}

footer .top .footer-menu li + li {
  border-left: 1px solid #ababab;
}

footer .copyright {
  padding: 28px 15px;
  background-color: #0a0a0a;
  text-align: center;
  font-size: 20px;
  color: #aaaaaa;
  letter-spacing: 1.5px;
}

#home-page div[class^=col-],
#login-page div[class^=col-] {
  padding-right: 15px;
  padding-left: 15px;
}

#home-page .row,
#login-page .row {
  margin-right: -15px;
  margin-left: -15px;
}

#main-section {
  text-align: right;
  padding: 100px 0 85px;
}

#main-section .sign-block {
  max-width: 460px;
  width: 100%;
  display: inline-block;
  text-align: left;
}

#main-section .sign-block > p {
  margin: 0 auto 20px;
  width: 80%;
  text-align: center;
  color: #f9f9f9;
  font-size: 36px;
  letter-spacing: 2px;
  line-height: 1.4;
}

#main-section .date-group .select-wrap {
  display: inline-block;
}

#main-section .date-group .select-wrap + .select-wrap {
  padding-left: 10px;
}

#main-section .agree-group {
  margin-top: 30px;
  margin-bottom: 25px;
}

#home-page #main-section {
  background: url("/general/images/bg.png") center center no-repeat;
  background-size: cover;
}

#sign-bottom {
  padding: 30px 0 70px;
  background-color: #eeeeee;
}

#sign-bottom .section-title {
  margin-bottom: 130px;
  text-align: left;
}

#sign-bottom .advantages li {
  padding-left: 30px;
  position: relative;
  margin-bottom: 10px;
  line-height: 1.5;
  text-align: left;
  color: #141414;
  font-size: 18px;
  letter-spacing: 1.7px;
}

#sign-bottom .advantages li i {
  text-transform: uppercase;
}

#sign-bottom .advantages li:before {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  top: 8px;
  width: 14px;
  height: 7px;
  border: 3px solid #7ab317;
  border-top: 0 solid transparent;
  border-right: 4px solid transparent;
  -webkit-transform: rotateZ(-50deg) scale(1);
  -ms-transform: rotate(-50deg) scale(1);
  transform: rotateZ(-50deg) scale(1);
}

#sign-bottom .sign-form {
  width: 100%;
  max-width: 723px;
  float: right;
  margin-top: 25px;
  padding-bottom: 25px;
  background: #fafafa;
  font-size: 0;

}

#sign-bottom .sign-form * {
  font-size: 16px;
}

#sign-bottom .sign-form:after {
  content: " ";
  display: table;
  clear: both;
}

#sign-bottom .sign-form input[type="text"],
#sign-bottom .sign-form input[type="email"],
#sign-bottom .sign-form input[type="password"],
#sign-bottom .sign-form input[type="checkbox"]:before,
#sign-bottom .sign-form select {
  background-color: #eeeeee;
  border-color: #eee;
}

#sign-bottom .sign-form .form-group {
  padding: 7px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  float: left;
}

#sign-bottom .sign-form .form-group * {
  font-size: 16px;
}

#sign-bottom .sign-form .form-group:first-of-type {
  width: 40%;
}

#sign-bottom .sign-form .form-group:nth-of-type(2) {
  width: 30%;
}

#sign-bottom .sign-form .form-group:nth-of-type(3) {
  width: 30%;
}

#sign-bottom .sign-form .form-group:nth-of-type(4) {
  width: 50%;
}

#sign-bottom .sign-form .form-group:nth-of-type(5) {
  width: 50%;
}

#sign-bottom .sign-form .form-group:last-of-type {
  width: 100%;
}

#sign-bottom .sign-form .date-group {
  padding: 0;
}

#sign-bottom .sign-form .date-group label {
  padding: 7px;
}

#sign-bottom .sign-form .date-group .select-wrap {
  padding: 7px;
}

#sign-bottom .sign-form .agree-group {
  text-align: center;
  width: 100%;
  margin: 25px 0;
}

#active-profile {
  margin-bottom: 50px;
  padding: 45px 0 0 0;
  overflow: hidden;
}

#active-profile .section-title {
  text-align: center;
  margin-bottom: 60px;
}

#active-profile .profile-block {
  margin: 0 -28px 0px;
  font-size: 0;
  text-align: center;
}

#active-profile .profile-block * {
  font-size: 16px;
}

#active-profile .profile {
  display: inline-block;
  width: 20%;
  padding: 0 28px;
  margin-bottom: 40px;
  font-size: 14px;
}

#active-profile .profile a {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: block;
}

#login-page #main-section {
  padding: 170px 0 65px;
  background: url("/general/images/bg_login.png") center center no-repeat;
  background-size: cover;
}

#login-page .user-form {
  padding-top: 90px;
  position: relative;
  margin-bottom: 20px;
}

#login-page .label {
  width: 30%;
  min-width: 156px;
  height: 47px;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 47px;
  font-size: 18px;
  color: #fafafa;
  text-align: center;
  background-color: #fb4653;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-weight: 400;
  padding: 0 10px;
}

#login-page .login-block {
  max-width: 460px;
  width: 100%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin-right: 30px;
}

#login-page .forgot-pass {
  text-align: right;
  margin-bottom: 40px;
}

#login-page .forgot-pass a {
  font-size: 16px;
  color: #828282;
}

#login-page .forgot-pass a:hover {
  color: #7ab317;
}

@media (min-width: 768px) {
  .main-menu {
    display: block !important;
  }
}

@media only screen and (min-width: 1590px) {
  .container {
    width: 1560px;
  }

  .min-container {
    width: 1225px;
  }
}

@media (max-width: 1560px) {
  #main-section {
    padding: 50px 0 20px;
  }

  #main-section .sign-block > p {
    font-size: 32px;
    margin-bottom: 10px;
  }

  #login-page #main-section {
    padding: 50px 0 20px;
  }
}

@media only screen and (max-width: 1199px) {
  .section-title {
    font-size: 32px;
  }

  .user-form {
    padding: 20px;
  }

  .user-form .form-group {
    margin-bottom: 15px;
  }

  .main-menu li a.login-link {
    margin-left: 0;
  }

  #main-section {
    padding: 40px 0 40px;
  }

  #active-profile .profile a {
    height: 150px;
  }

  #login-page #main-section {
    padding: 40px 0 40px;
  }

  #login-page .login-block {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .user-form .form-control {
    height: 45px;
    line-height: 45px;
  }

  .user-form select.form-control {
    padding-top: 14.5px;
    padding-bottom: 14.5px;
  }

  .user-form input[type="submit"] {
    padding: 10px 15px;
  }

  .user-form .date-group label {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
  }

  .user-form .date-group .select-wrap {
    width: 33.33%;
  }

  .logo img {
    max-width: 124px;
  }

  .main-menu li a {
    font-size: 16px;
    padding: 10px 15px;
  }

  .main-menu li a.login-link {
    font-size: 14px;
    min-width: 137px;
  }

  footer .top {
    padding-top: 25px;
  }

  footer .top .soc-link {
    margin-bottom: 35px;
  }

  footer .top .subscribe {
    margin-bottom: 45px;
  }

  #main-section {
    padding: 20px 0 20px;
  }

  #main-section .sign-block {
    max-width: 330px;
  }

  #main-section .sign-block > p {
    width: 100%;
  }

  #main-section .agree-group {
    text-align: center;
  }

  #home-page #main-section .sign-block {
    max-width: 100%;
  }

  #sign-bottom {
    text-align: center;
  }

  #sign-bottom .section-title {
    margin-bottom: 30px;
    text-align: center;
  }

  #sign-bottom .advantages {
    display: inline-block;
  }

  #sign-bottom .sign-form {
    float: none;
    max-width: 100%;
  }

  #sign-bottom .sign-form .form-group {
    width: 100% !important;
  }

  #sign-bottom .sign-form .date-group label {
    padding-bottom: 0;
  }

  #sign-bottom .sign-form .agree-group {
    margin: 10px 0;
  }

  #active-profile .profile {
    width: 25%;
  }

  #login-page #main-section {
    padding: 20px 0 20px;
  }

  #login-page .user-form {
    padding-top: 60px;
  }

  #login-page .login-block {
    max-width: 330px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .section-title {
    font-size: 26px;
  }

  .user-form .sex-group label {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
  }

  .user-form .sex-group select {
    width: 100%;
  }

  .user-form .date-group .select-wrap {
    width: 100%;
    margin-bottom: 10px;
  }

  .logo img {
    max-width: 100px;
  }

  .main-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 999;
    text-align: left;
    background: #fb4653;
    padding: 10px 0;
    border-top: 1px solid white;
  }

  .main-menu li {
    display: block;
  }

  .main-menu li a {
    padding: 10px 20px;
  }

  .main-menu li a.login-link {
    min-width: 0;
    border: 0;
    padding: 10px 20px;
  }

  .main-menu li a.login-link:hover {
    background: transparent;
    color: #f9f9f9;
  }

  footer .top .soc-link li {
    margin: 0 10px;
  }

  footer .top .soc-link li img {
    max-width: 30px;
  }

  footer .top .subscribe p {
    margin-bottom: 25px;
  }

  footer .top .subscribe a {
    font-size: 16px;
    padding: 10px 30px;
  }

  footer .top .footer-menu li a {
    font-size: 14px;
    padding: 7px 10px;
  }

  footer .copyright {
    font-size: 16px;
    padding: 15px 15px;
  }

  #main-section .sign-block {
    max-width: 100%;
  }

  #main-section .date-group .select-wrap + .select-wrap {
    padding-left: 0;
  }

  #home-page #main-section {
    background: #e3dfdf;
  }

  #active-profile .section-title {
    margin-bottom: 30px;
    margin-top: 0px;
  }

  #active-profile .profile {
    width: 33.33%;
  }

  #login-page #main-section {
    background: #e3dfdf;
  }

  #login-page .login-block {
    max-width: 100%;
    margin-right: 0px;
  }

  #login-page .forgot-pass {
    margin-bottom: 15px;
  }
}

@media (max-width: 600px) {
  #active-profile .profile {
    width: 50%;
  }
}

@media (max-width: 500px) {
  footer .top .footer-menu li + li {
    border: 0;
  }
}

@media (max-width: 375px) {
  #active-profile .profile {
    width: 100%;
    max-width: 220px;
  }
}


.snapshot{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 1000%;
    min-height: 1000%;
    transform: translate(-50%, -50%) scale(.1);
}

.web-cam-banner img{
    height: 238px;
    width: 730px;
}

@media only screen and (max-width: 2560px) {
  .image-profile-webcams {
    width: 20% !important;
  }
}
@media only screen and (max-width: 1920px) {
  .image-profile-webcams {
    width: 25% !important;
  }
}@media only screen and (min-width: 1920px) {
  .image-profile-webcams {
    max-width: 410px !important;
  }
}
@media only screen and (min-width: 1600px) {
  .image-profile-webcams {
<<<<<<< HEAD
    /*width: 33% !important;*/
=======
    width: 20% !important;
  }
  .web-cam-item .item-cover {
    height: 160px;
>>>>>>> sbk
  }
}
@media only screen and (max-width: 1440px) {
  .image-profile-webcams {
    /*width: 25% !important;*/
  }
  .web-cam-item .item-cover {
    height: 140px;
  }
}
@media only screen and (max-width: 1366px) {
  .image-profile-webcams {
    /*width: 33% !important;*/
  }
}
@media only screen and (max-width: 1200px) {
  .image-profile-webcams {
    width: 50% !important;
  }
  .web-cam-item .item-cover {
    height: 195px;
  }
}
@media only screen and (max-width: 1024px) {
  .image-profile-webcams {
    width: 50% !important;
  }
}
@media only screen and (max-width: 800px) {
  .image-profile-webcams {
    width: 100% !important;
  }
}

.block-logged {
  min-height: 720px;
}

.block-logged > .text-logged {
  font-size: 32px;
  margin-top: 350px;
  display: inline-block;
  color: #f0f0f0;
}
